<div class="title-container">
  <h1 class="title">Search Off Pistes</h1>
  <h1 class="title-down">Finding your line</h1>
</div>

<%= form_tag({controller: "api/v1/pistes", action: "search_name"}, method: "post") do %>

    <fieldset class="field-container">
      <%= text_field_tag 'piste[name]', nil, placeholder: 'Search...', class: 'field'  %>
      <div class="icons-container">
        <div class="icon-search"></div>
        <div class="icon-close">
          <div class="x-up"></div>
          <div class="x-down"></div>
        </div>
      </div>
    </fieldset>

<% end %>